.sudoku-table {
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 26pt;
  user-select: none;
}

.sudoku-table tr td {
  padding: 0px;
  border: 1px solid black;
}

.sudoku-table tr:nth-child(3n+0) td {
  border-bottom: 3px solid black;
}

.sudoku-table tr td:nth-child(3n+0) {
  border-right: 3px solid black;
}

.sudoku-table tr td div.cell-layers-container {
  width: 30pt;
  height: 30pt;
  position: relative;
}

.sudoku-table tr td div.cell-layers-container.cell-selected {
  background-color: gold;
}

.sudoku-table tr td div.cell-layer {
  width: 30pt;
  height: 30pt;
  position: absolute;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.bg-yellow {
  background-color: yellow;
}
